*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppong", sans-serif;

}
:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25)
    --transp-white-2: rgba(255, 255, 255, 0.1)
    --blue-1: #62b8f5
}